.wrapper, html
  font-size: $font-size-common
  font-family: $font-family-main-bold
.main-color
  color: $main-color
.container
  width: 1160px
  display: block
  margin: 0 auto
a, a:hover, a:active
  color: $main-color-reverse
  text-decoration: none
.btns
  text-align: center
.btn
  display: inline-block
  text-transform: uppercase
  color: $main-color-reverse
  padding: 20px 30px 25px 30px
  border-radius: 4px
  position: relative
  border-top: 8px solid $main-color-reverse
  font-family: $font-family-main-bold
  &:after
    content: ''
    height: 8px
    position: absolute
    top: -4px
    left: 0
    right: 0
    background-color: inherit
    border-top-left-radius: 4px
    border-top-right-radius: 4px
    z-index: 1
.btn-success
  background-color: $bg-btn-success
.btn-primary
  background-color: $bg-btn-primary

.section-title
  text-transform: capitalize
  font-size: 2.7rem
  font-family: $font-family-main-light
  padding: 85px 0 37px 0
  text-align: center
  position: relative
  &:before, &:after
    content: ""
    width: 75px
    height: 1px
    background-color: $main-color
    position: relative
    left: 50%
    bottom: -75px
    display: block
    transform: translateX(-50%)
  &:after
    left: calc(50% + 12px)
    bottom: -44px
.fa
  width: 14px
  height: 14px
  display: inline-block
  line-height: 40px
  //vertical-align: middle
.link
  display: inline-block
  width: 40px
  height: 40px
  border-radius: 50%
  background-color: $work-item-bg
  color: $main-color
  border: 1px solid $main-color
  margin: 3px
.link:hover
  background-color: $main-color
  color: $work-item-bg
.load-btn
  width: 100%
  text-align: center
.load-more-btn
  font-size: 1.07rem
  padding: 20px
  margin: 0 auto
  margin-top: 70px
  text-transform: uppercase
  &:hover
    cursor: pointer
  & .fa
    display: inline-block
    line-height: 1.2rem
    vertical-align: baseline
.clearfix:after
  clear: both

.bg:before
  content: ""
  background: rgba(0,0,0, .7)
  display: block
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
.loading
  height: 40px
  text-align: center
  width: 100%
  margin-top: 80px
  & div
    display: inline-block
    border-radius: 50%
    padding: 15px
    height: 10px
    width: 10px
    animation: loading 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite
  & div:nth-child(1)
    animation-delay: -0.24s
  & div:nth-child(2)
    animation-delay: -0.12s
  & div:nth-child(3)
    animation-delay: 0
  @keyframes loading
    0%
      background-color: $main-color
      height: 5px
      width: 5px
    100%
      background-color: transparent
      height: 3px
      width: 3px





