.section3
  .tab-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
  .tabs
    display: flex
    flex-grow: auto
    margin: 70px 0 0 0
    width: 100%
    &-title
      flex-grow: 1
      position: relative
      padding: 20px 30px
      background-color: $main-color-reverse
      color: $service-text-color
      border: 1px solid $tab-border-color
      text-transform: capitalize
      text-align: center
      font-size: 1.2rem
      font-family: $font-family-main
      &:not(:first-child)
        border-left: none
      &:hover, &.active
        background-color: $main-color
        color: $main-color-reverse
      &.active:before
        content: ""
        width: 0
        height: 0
        border-top: 10px solid $main-color
        border-left: 10px solid transparent
        border-right: 10px solid transparent
        position: absolute
        left: 50%
        bottom: -9px
        transform: translateX(-50%)


  .tab-pane
    display: none
    &.active
      display: block
  .tab-content
    width: 100%
    margin-bottom: 90px
  .tab-content-services
    margin: 25px 0
    img
      width: 195px
      height: auto
      float: left
      border: 1px solid $tab-border-color
    &__desc
      font-family: $font-family-main
      color: $service-text-color
      padding-left: 15px
      line-height: 1.7rem



