doctype html
block variables
    -let name = 'The Ham'
html
    head
        include ../../head/head.pug
    body
        .wrapper
            include ../../header/header.pug
            include ../../section2/section2.pug
            include ../../section3/section3.pug
            include ../../section4/section4.pug
            include ../../section5/section5.pug
            include ../../section6/section6.pug
            include ../../section7/section7.pug
            include ../../footer/footer.pug
