.header
  background: url("../images/bg/section-1.jpg") no-repeat center
  background-size: cover
  background-attachment: fixed
  &-menu
    background-color: rgba(73, 71, 63, .6)
  &-menu__items
    display: flex
    justify-content: space-between
    align-items: center
  &-logo *
    display: inline-block
  &-logo__icon
    width: 58px
    height: 30px
    background: $main-color
    position: relative
    margin-right: 10px
    color: $main-color-reverse
    font-size: 3rem
    font-family: $font-family-main-bold
    font-weight: bold
    text-align: center
    float: left

    &:before
      content: ''
      width: 0
      height: 0
      position: absolute
      top: -16px
      left: 0
      border-left: 29px solid transparent
      border-right: 29px solid transparent
      border-bottom: 16px solid $main-color

    &:after
      content: ''
      width: 0
      height: 0
      position: absolute
      bottom: -16px
      left: 0
      border-left: 29px solid transparent
      border-right: 29px solid transparent
      border-top: 16px solid $main-color

  &-logo__title
    font-size: 2.4rem
    vertical-align: middle
    float: right
    &:first-child
    color: $main-color-reverse
  &-nav-list
    &__item
      line-height: 120px
      display: inline-block
      border-bottom: 2px solid transparent
      margin: 0 5px
      position: relative
      &__title
        text-transform: uppercase
        padding: 0 5px
        color: $light-color
    &__item.active::after, &__item:hover::after
      content: ''
      height: 2px
      width: 100%
      background-color: $main-color
      position: absolute
      bottom: -5px
      left: 0
      right: 0

    &__item.active  &__item__title, &__item:hover  &__item__title
        color: $main-color
  &-content
    padding: 230px 0
    text-align: center
    color: $main-color-reverse
    &__title
      font-size: 2.7rem
      text-transform: uppercase
    &__subtitle
      font-size: 6rem
      text-transform: uppercase
      margin: 20px 0 15px 0
    &__short-desc
      color: $light-color
      font-size: 2.6rem
      font-family: $font-family-main-light
      text-transform: capitalize
    &__buttons *
      margin: 140px 15px 15px




