- var menu = ['Home', 'About', 'Skills', 'Work', 'Testimonial', 'Blog', 'Team', 'Contact', '<i class="fa fa-search"></i>']
section.header
    .header-menu
        .container
            .header-menu__items
                .header-logo
                    .header-logo__icon H
                    .header-logo__title
                        span the
                        span.main-color Ham
                nav.header-nav
                    ul.header-nav-list
                        each val, index in menu
                            if index == 0
                                li.header-nav-list__item.active

                                    a(href="#", class="header-nav-list__item__title") !{val}
                            else
                                li.header-nav-list__item
                                    a(href="#", class="header-nav-list__item__title") !{val}
    .header-content
        .container
            h1.header-content__title THE HAM IS&nbsp;
                span.main-color WORDPRESS THEME
            h2.header-content__subtitle we are creative
            .header-content__short-desc Just buy and Enjoy These Awesome Features
            .header-content__buttons
                a.btn.btn-success Explore now
                a.btn.btn-primary Purchase now