.section5
  background-color: $works-bg
  .works-items
    display: flex
    flex-wrap: wrap
  .tab-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
  .tabs
    display: flex
    margin: 70px 0
    &-title
      position: relative
      padding: 20px 30px
      border: 1px solid $tab-border-color
      background-color: $main-color-reverse
      color: $tab-text-color
      font-family: $font-family-main
      &:not(:first-child)
        border-left: none
      &:hover, &.active
        color: $main-color
      &:hover:before, &.active:before
        content: ""
        position: absolute
        left: 0
        right: 0
        top: -2px
        height: 2px
        background-color: $main-color

  .tab-content
    width: 100%
    margin-bottom: 90px
  .tab-pane
    display: none
    &.active
      display: block
  .works-item
    width: 25%
    height: 208px
    position: relative
    img
      width: 100%
      height: 100%
    &__desc
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      z-index: -1
    &__title
      text-transform: uppercase
      color: $main-color
      font-family: $font-family-main-bold
      font-size: 1.1rem
      font-weight: bold
      padding: 30px 0 15px 0

    &__subtitle
      text-transform: capitalize
      font-size: 0.9rem
      font-family: $font-family-main-light
      color: $common-color
  .works-item:hover .works-item__desc
    z-index: 1
    background-color: $work-item-bg
    text-align: center
    padding-top: 45px
    border-top: 2px solid $main-color
    transition-property: all
    transition-duration: 600ms