section.section5
    .container
        h2.section-title Our amazing work
        .tab-container
            ul.tabs
                li(class="tabs-title active", data-id="all" data-sort='all') All
                li(class="tabs-title", data-id="graphic" data-sort='graphic') Graphic Designer
                li(class="tabs-title", data-id="web" data-sort='web') Web Designer
                li(class="tabs-title", data-id="landing" data-sort='landing') Landing Pages
                li(class="tabs-title", data-id="wp" data-sort='wp') Wordpress
            .tab-content
                div(class="tab-pane works-items", id="all" data-sort='all')
                div(class="tab-pane works-items", id="graphic" data-sort='graphic')
                div(class="tab-pane works-items", id="web" data-sort='web')
                div(class="tab-pane works-items", id="landing" data-sort='landing')
                div(class="tab-pane works-items", id="wp" data-sort='wp')

