.section7.bg:before
    background-color: rgba(46, 74, 91, .6)
.section7
  background: url("../images/bg/section-3.jpg") no-repeat center
  background-size: cover
  position: relative
  .container
    position: relative
  &-title
    color: $main-color-reverse
  .review-item
    text-align: center
    color: $review-text-color
    font-size: 1.2rem
    align-items: center
    flex-direction: column
    padding: 60px 0 30px
    filter: blur(7px)

    &__icon
      font-size: 2.3rem
      display: block
    &__text
      margin: 40px 0
      line-height: 1.7rem
      font-family: $font-family-main-light
    &__name
      font-family: $font-family-main-bold
      color: $main-color
      text-transform: uppercase
    &__rank
      text-transform: capitalize
      margin: 10px 0 30px
      font-family: $font-family-main-light

  .review-item.show
    display: flex
  .review-img
    height: 142px
    width: 142px
    background-repeat: no-repeat
    background-position: top center
    background-size: cover
    border-radius: 50%
    border: 3px solid $main-color
    position: relative
    box-sizing: content-box
    box-shadow: 0 0 0 10px $main-color-rgba-opocity
  .review-image-small
    height: 58px
    width: 58px
    margin: 0 15px
    border: 1px solid $main-color-rgba-opocity
    box-shadow: 0 0 0 3px $main-color-rgba-opocity
  .review-image-small:hover
    border-color: $main-color
  .review-image-small.active
    border-color: $main-color
    top: -15px
  .review-item.active
    transition-property: filter
    transition-duration: 30ms
    filter: none
  .tabs
    display: flex
    justify-content: center
    align-items: center
    padding-bottom: 60px
  .reviews-tabs
    padding: 30px 0
    width: 400px
    overflow: hidden
    .tabs-title
      flex: 0 0 58px
      margin: 0 20px
  .slider-items
    display: flex
    justify-content: flex-start
    align-items: center
    position: relative
    left: 0
    transition-property: left
    transition-duration: 1s
  .btn-prev, .btn-next
    color: $review-text-color
    width: 30px
    height: 30px
    border: 1px solid $review-text-color
    background-color: transparent
    position: relative

  .btn-prev:before, .btn-next:before
    content: "<"
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -75%) scale(1,2)
  .btn-next:before
    content: ">"
  .btn-prev:hover, .btn-next:hover,.btn-prev:focus, .btn-next:focus, .btn-prev:active, .btn-next:active
    color: $main-color-reverse
    background-color: $main-color
    border-color: $main-color
    outline: none

