section.section7.bg
    .container
        h2.section-title.section7-title What People Say About theHam
        .tab-container
            .tab-content
                div(class="tab-pane review-item", id="review1")
                    .review-item__icon
                        include ../../../dist/images/svg/quote.svg
                    .review-item__text review 1 I nteger dignissim, augue tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis. Tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis.
                    p.review-item__name 1 HASAN ALI
                    p.review-item__rank UX Designer
                    .div(class="review-img review-image-big" style="background-image: url(images/reviews/review1.jpg)")
                div(class="tab-pane review-item", id="review2")
                    .review-item__icon
                        include ../../../dist/images/svg/quote.svg
                    .review-item__text review 2 Integer dignissim, augue tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis. Tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis.
                    p.review-item__name 2 HASAN ALI
                    p.review-item__rank UX Designer
                    .div(class="review-img review-image-big" style="background-image: url(images/reviews/review2.jpg)")
                div(class="tab-pane review-item", id="review3")
                    .review-item__icon
                        include ../../../dist/images/svg/quote.svg
                    .review-item__text review 3 Integer dignissim, augue tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis. Tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis.
                    p.review-item__name 3 HASAN ALI
                    p.review-item__rank UX Designer
                    .div(class="review-img review-image-big" style="background-image: url(images/reviews/review3.png)")
                div(class="tab-pane review-item", id="review4")
                    .review-item__icon
                        include ../../../dist/images/svg/quote.svg
                    .review-item__text review 4 Integer dignissim, augue tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis. Tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis.
                    p.review-item__name 4 HASAN ALI
                    p.review-item__rank UX Designer
                    .div(class="review-img review-image-big" style="background-image: url(images/news/new1.png)")
                div(class="tab-pane review-item", id="review5")
                    .review-item__icon
                        include ../../../dist/images/svg/quote.svg
                    .review-item__text review 5 Integer dignissim, augue tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis. Tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis.
                    p.review-item__name 5 HASAN ALI
                    p.review-item__rank UX Designer
                    .div(class="review-img review-image-big" style="background-image: url(images/reviews/review5.jpg)")
                div(class="tab-pane review-item", id="review6")
                    .review-item__icon
                        include ../../../dist/images/svg/quote.svg
                    .review-item__text review 6 Integer dignissim, augue tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis. Tempus ultricies luctus, quam dui laoreet sem, non dictum odio nisi quis massa. Morbi pulvinar odio eget aliquam facilisis.
                    p.review-item__name 6 HASAN ALI
                    p.review-item__rank UX Designer
                    .div(class="review-img review-image-big" style="background-image: url(images/reviews/review6.jpg)")
            div.tabs.slider
                button(class="btn-prev")
                .reviews-tabs
                    .slider-items
                        div(class="tabs-title active review-img review-image-small" data-id="review1" style="background-image: url(images/reviews/review1.jpg)")
                        div(class="tabs-title review-img review-image-small" data-id="review2" style="background-image: url(images/reviews/review2.jpg)")
                        div(class="tabs-title review-img review-image-small" data-id="review3" style="background-image: url(images/reviews/review3.png)")
                        div(class="tabs-title review-img review-image-small" data-id="review4" style="background-image: url(images/news/new1.png)")
                        div(class="tabs-title review-img review-image-small" data-id="review5" style="background-image: url(images/reviews/review5.jpg)")
                        div(class="tabs-title review-img review-image-small" data-id="review6" style="background-image: url(images/reviews/review6.jpg)")
                button(class="btn-next")
