.section4
  text-align: center
  background: url("../images/bg/section-2.jpg") no-repeat center
  background-size: cover
  position: relative
  .container
    padding: 117px 0 127px
    position: relative
  &-title
    font-size: 3rem
    font-family: $font-family-main-bold
    color: $main-color
    text-transform: uppercase
  &-desc
    font-size: 1.2rem
    font-family: $font-family-main
    color: $section4-text-color
    padding: 25px 0 75px
