section.section4.bg
    .container
        h2.section4-title EVERYTHING IS READY. JUST BUY AND INSTALL NOW
        p.section4-desc Smooth reliable, responsive ready, perfect portfolio, unique blog layout and many many options for you
        a(href="#" class="btn btn-success") PURCHASE NOW

