.section6
  &-items
    display: flex
    flex-wrap: wrap
    margin: 46px 0 100px 0
  &-item
    width: calc(25% - 21px)
    box-sizing: border-box
    margin: 22px 28px 22px 0
    .img-block
      position: relative
      width: 100%
      img
        width: 100%
        display: block
    .published_date
      position: absolute
      right: 0
      top: 0
      background-color: $news-date-bg
      font-size: 1.2rem
      font-family: $font-family-main
      padding: 12px 20px
      //transform: translateX(-50%)
      & > *
        padding: 7px 0px
    .content-block
      border: 1px solid $news-border-color
      padding: 15px 0 10px 15px
      background-color: $news-item-bg
    &__title
      font-size: 1.2rem
      font-family: $font-family-main-bold
      color: $news-text-color
    &__subtitle
      font-family: $font-family-main-light
      color: $service-text-color
      &__item
        padding-left: 10px
        margin-top: 15px
        display: inline-block
        position: relative
        line-height: 1.1rem

        &:first-child:after
          content: ""
          border-right: 1px solid $service-text-color
          position: absolute
          top: 0
          bottom: 0
          right: 4px
        &:first-child
          padding-right: 20px

  &-item:nth-child(4n+4)
    margin-right: 0

  &-item:hover
    .published_date
      background-color: $main-color

    .section6-item__title
      color: $main-color