section.section6
    .container
        h2.section-title Breaking News
        .section6-items
            each val, index in ['images/news/new1.png','images/news/new2.png','images/news/new3.png','images/news/new4.png','images/news/new5.png','images/news/new6.png','images/news/new7.png','images/news/new8.png']
                a.section6-item
                    .img-block
                        .published_date
                            p 16
                            p Feb
                        img(src=val)
                    .content-block
                        p.section6-item__title Amazing Image Post
                        ul.section6-item__subtitle
                            li.section6-item__subtitle__item By admin
                            li.section6-item__subtitle__item 2 comment