.footer
  font-size: 1.1rem
  padding: 44px 0
  background-color: $footer-bg
  text-align: center
  color: $footer-text-color
  line-height: 1rem
  font-family: $font-family-main-light
  .separate
    padding-right: 8px
    &:hover
      color: $main-color
  .separate:after
    content: ""
    border-right: 1px solid $footer-text-color
    right: 4px


