.footer
    p &copy; Copyright 2015
        a.separate.main-color &nbsptheHam &nbsp;
        | All Rights Reserved
script(src='js/sort.js')
script(src='js/tabs.js')
script(src='js/slider.js')
script(src='js/main.js')