.section2
  &-items
    display: flex
    justify-content: stretch
    align-items: center
    flex-wrap: nowrap
  &-item
    width: 25%
    background-color: $bg-dark
    border-top: 7px solid $main-color
    color: $main-color
    text-transform: uppercase
    font-size: 1.5rem
    height: 374px
    box-sizing: border-box
    display: flex
    justify-content: flex-end
    align-items: center
    flex-direction: column
    &__desc
      margin: 35px 0 115px 0
  &-item.section2-item-reverse
    background-color: $main-color
    border-top: 7px solid $main-color-reverse
    color: $main-color-reverse

