section.section2
    .section2-items
        .section2-item
            .section2-item__icon
                include ../../../dist/images/svg/section2_1.svg
            .section2-item__desc DIFFERENT THEME OPTION
        .section2-item.section2-item-reverse
            .section2-item__icon
                include ../../../dist/images/svg/section2_2.svg
            .section2-item__desc FULLY CUSTOMIZABLE
        .section2-item
            .section2-item__icon
                include ../../../dist/images/svg/section2_3.svg
            .section2-item__desc UNLIMITED SUPPORT
        .section2-item.section2-item-reverse
            .section2-item__icon
                include ../../../dist/images/svg/section2_4.svg
            .section2-item__desc RESPONSIVE ALL DEVICE