@font-face
  font-family: "Montserrat"
  src: url("../fonts/Monserrat/montserrat.woff") format("woff"),
  url("../fonts/Monserrat/montserrat.woff2") format("woff2"),
  url("../fonts/Monserrat/montserrat.ttf") format("truetype")
  font-style: normal
  font-weight: normal
@font-face
  font-family: "MontserratBold"
  src: url("../fonts/Monserrat/montserratbold.woff") format("woff"),
  url("../fonts/Monserrat/montserratbold.woff2") format("woff2"),
  url("../fonts/Monserrat/montserratbold.ttf") format("truetype")
  font-style: normal
  font-weight: bold
@font-face
  font-family: "MontserratLight"
  src: url("../fonts/Monserrat/montserratlight.woff") format("woff"),
  url("../fonts/Monserrat/montserratlight.woff2") format("woff2"),
  url("../fonts/Monserrat/montserratlight.ttf") format("truetype")
  font-style: normal
  font-weight: lighter
@import "blocks/_variables.sass"
@import "blocks/_common.sass"
@import "blocks/header/_header.sass"
@import "blocks/section2/_section2.sass"
@import "blocks/section3/_section3.sass"
@import "blocks/section4/_section4.sass"
@import "blocks/section5/_section5.sass"
@import "blocks/section6/_section6.sass"
@import "blocks/section7/_section7.sass"
@import "blocks/footer/_footer.sass"